---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

const flags  =[
	{ 
	flag:'',
 	name:'bandera 1'
	},
	{ 
	flag:'<Icon name="flagpack:es" />',
 	name:'bandera 2'
	},
	{ 
	flag:'',
 	name:'bandera 3'
	}
	
	]
---

<Layout title="Duolingo Clone ">
	<!-- !Este es el contenido de la pagina  -->
	<div class="container">
      <div class="banner">
		banner
	  </div>
	   <div class="langs">
		{
			flags.map((flag)=> 
				
				<a href="#">
					

				{flag.name}
			</a>
			
			)
		}
		

	   </div>
	</div>
</Layout>

