---

const { title } = Astro.props;
import { Icon } from 'astro-icon/components'
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
      <header class="h-16 flex  items-center">
		 <div class="container flex flex-row items-center justify-between max-w-[1200px] mx-32">
				<img src="/duolingo-logo.svg" alt="">
				<div class="relative group flex flex-row items-center hover:text-[#b9b7b7] text-[#AFAFAF] font-roboto font-semibold uppercase">
					<a href="#" class="relative">Idioma de la Pagina: </a>
					<Icon name="mdi:chevron-down" size={28} />
					<div class="absolute top-8 right-1 hidden group-hover:block p-4 border-2 border-[#d8d8d8] w-96 rounded-lg bg-white">
						
						<div class="my-2">
							
							<ul class="grid grid-cols-2 gap-4 text-xs text-[#777]">
								<li>
									<a href="#" class="flex items-center ml-5">
										<Icon name="flagpack:sa" size={25}/><span class="ml-4">العربية</span></a>
								</li>
								<li>
									<a href="#"class="flex items-center ml-5">
										<Icon name="flagpack:in" size={25}/><span class="ml-4">বাংলা</span></a>
								</li>
								<li>
									<a href="#" class="flex items-center ml-5" >
										<Icon name="flagpack:cz"size={25}/><span class="ml-4">Čeština</span></a>
								</li>
								<li>
									<a href="#"class="flex items-center ml-5">
										<Icon name="flagpack:de" size={25}/><span class="ml-4">Deutsch</span></a>
								</li>
								<li >
									<a href="#" class="flex items-center ml-5" >
										<Icon name="flagpack:gr" size={25}/><span class="ml-4">Ελληνικά</span></a>
								</li>
								<li>
									<a href="#"class="flex items-center ml-5">
										<Icon name="flagpack:us" size={25}/><span class="ml-4">English</span></a>
								</li>
								<li>
									<a href="#" class="flex items-center ml-5" >
										<Icon name="flagpack:es" size={25}/><span class="ml-4">español</span></a>
								</li>
								<li>
									<a href="#"class="flex items-center ml-5">
										<Icon name="flagpack:fr" size={25}/><span class="ml-4">Français</span></a>
								</li>
								<li>
									<a href="#"class="flex items-center ml-5">
										<Icon name="flagpack:in" size={25}/><span class="ml-4">हिंदी</span></a>
								</li>
								<li>
									<a href="#"class="flex items-center ml-5">
										<Icon name="flagpack:hu" size={25}/><span class="ml-4">Magyar</span></a>
								</li>
								<li>
									<a href="#"class="flex items-center ml-5">
										<Icon name="flagpack:id" size={25}/><span class="ml-4">Bahasa Indonesia</span></a>
								</li>
								<li>
									<a href="#"class="flex items-center ml-5">
										<Icon name="flagpack:it" size={25}/><span class="ml-4">Italiano</span></a>
								</li>
								<li>
									<a href="#"class="flex items-center ml-5">
										<Icon name="flagpack:jp" size={25}/><span class="ml-4">日本語</span></a>
								</li>
								<li>
									<a href="#"class="flex items-center ml-5">
										<Icon name="flagpack:kr" size={25}/><span class="ml-4">한국어</span></a>
								</li>
								<li>
									<a href="#"class="flex items-center ml-5">
										<Icon name="flagpack:nl" size={25}/><span class="ml-4">Nederlands</span></a>
								</li>									
								<li>
									<a href="#"class="flex items-center ml-5">
										<Icon name="flagpack:pl" size={25}/><span class="ml-4">Polski</span></a>
								</li>									

								<li>
									<a href="#"class="flex items-center ml-5">
										<Icon name="flagpack:br" size={25}/><span class="ml-4">Português</span></a>
								</li>
								<li>
									<a href="#"class="flex items-center ml-5">
										<Icon name="flagpack:ro" size={25}/><span class="ml-4">Română</span></a>
								</li>
								<li>
									<a href="#"class="flex items-center ml-5">
										<Icon name="flagpack:ru" size={25}/><span class="ml-4">Русский</span></a>
								</li>
								<li>
									<a href="#"class="flex items-center ml-5">
										<Icon name="flagpack:in" size={25}/><span class="ml-4">తెలుగు</span></a>
								</li>
								<li>
									<a href="#"class="flex items-center ml-5">
										<Icon name="flagpack:th" size={25}/><span class="ml-4">ภาษาไทย</span></a>
								</li>
								<li>
									<a href="#"class="flex items-center ml-5">
										<Icon name="flagpack:ph" size={25}/><span class="ml-4">Tagalog</span></a>
								</li>
								<li>
									<a href="#"class="flex items-center ml-5">
										<Icon name="flagpack:tr" size={25}/><span class="ml-4">Türkçe</span></a>
								</li>
								<li>
									<a href="#"class="flex items-center ml-5">
										<Icon name="flagpack:ua" size={25}/><span class="ml-4">Українською</span></a>
								</li>
								<li>
									<a href="#"class="flex items-center ml-5">
										<Icon name="flagpack:vn" size={25}/><span class="ml-4">Tiếng Việt</span></a>
								</li>
								<li>
									<a href="#"class="flex items-center ml-5">
										<Icon name="flagpack:cn" size={25}/><span class="ml-4">中文</span></a>
								</li>
							</ul>
						</div>
					
					 </div>

				</a>
		 </div>
	  </header>

	  <div class="  mt-32 flex justify-center mx-auto">
			<div class="max-w-lg">
				<img src="/duolingo-promo.svg" >
			</div>
			<div class=" flex items-center flex-col justify-center w-1/3  ">
				<h1 class=" w-full text-3xl text-center font-bold text-gray-600">
					¡La forma divertida, efectiva y gratis de aprender un idioma!
				</h1>
				<div class=" hover:cursor-pointer hover:bg-[#7edd36]  mt-11 rounded-xl border-b-4 border-[#50b837] text-white  font-bold flex  justify-center  items-center w-80 h-12  bg-[#58cc02]">
					EMPIEZA AHORA
				</div>
				<div class=" hover:cursor-pointer hover:bg-[#e0e0e0]  mt-3 rounded-xl  border-[#d4d4d4] border-2 border-b-4  text-[#1CB0F6]  font-bold flex  justify-center  items-center w-80 h-12 ">
					 YA TENGO UNA CUENTA 
				</div>
			</div>

	  </div>
	  <Icon name="flagpack:es" />
		<slot />

		<footer class="container">
          este es el pie de pagina 

		</footer>
	</body>
</html>

